{% extends "base.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
<h1>{{goods.name}}</h1>
<form method="post">
    <div class="form-group">
        <label for="email">Categorys</label>
        <select class="form-control" id="category" name="category">
            <option> {{goods.category}}</option>
            {% for el in categorys%}
            <option>{{el.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <input type="text" class="form-control" name="name" id="name" value="{{goods.name}}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Quantity</label>
        <input type="number" class="form-control" name="quantity" id="quantity" value="{{goods.quantity}}">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <textarea class="form-control" name="description" id="description">{{goods.description}}</textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input type="number" class="form-control" name="price" id="price" value="{{goods.price}}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}